@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.WebAssembly.Services

@inject WebAssemblyDynamicResourceLoader lazyLoader

<Router AppAssembly="@typeof(BasicTestApp.Program).Assembly" OnNavigateAsync="@OnNavigateAsync">
    <Loading>
        Loading...
    </Loading>
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(RouterTestLayout)">
            <div id="test-info">Oops, that component wasn't found!</div>
        </LayoutView>
    </NotFound>
</Router>

@code {
    public async Task OnNavigateAsync(string baseUri, string uri) {
        if (uri.EndsWith("WithDynamicAssembly")) {
            await lazyLoader.LoadDynamicAssemblies(new List<string>(){ "Newtonsoft.Json.dll" });
        }
    }
}
